/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: "Manjari", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #FFFBF5;
}

h1, h2 {
    font-size: 30px;
}

p {
    font-family: "Comfortaa", sans-serif;
    font-size: 15px;
}

/* Component styles */
.hudbar {
    background-color: #F7EFE5;
    padding: 10px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about {
    padding: 10px; 
}
