.contacts{
    display: flex;
    flex-direction: column;
    padding: 9%;
    margin-top: 20px;
}
.contacts h1{
    font-family: "Manjari";
    font-size: 50px;
}
.contacts p{
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
}

.social{
    display: flex;
    flex-direction: row;
    padding-left: 9%;
    padding-right:9%;
    justify-content: space-around;
}
.social p{
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
}
