* {
    box-sizing: border-box; 
    margin: 0;
}

.footer {
    background-color: #FEECE2;
    display: flex;
    flex-direction: column;
    position: fixed; 
    left: 0; 
    bottom: 0; 
    width: 100%;
    padding: 10px;
}

h5 {
    font-family: "Comfortaa", sans-serif; 
    margin-bottom: 5px; 
}
